@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(69, 69, 58) transparent;
  font-optical-sizing: auto;
}

body {
  background-image: linear-gradient(to bottom right, #111827, #000000);
  opacity: 0.7;
  color: white;
  font-weight: 400;
  font-optical-sizing: auto;
  overflow-x: hidden;
}

.yellow {
  color: #feb901;
}

.text-shadow {
  text-shadow: 2px 2px 0 #000;
}

.text-outline {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: yellow;
  text-shadow: 2px 2px 0 yellow;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(69, 69, 58);
  border-radius: 50%;
}

hr {
  height: 1px;
  background-color: gray;
  border: none;
}
